<ul>
  <li class="menu-item  ">
      <a href="/app" class='menu-link'>
          <i class="bi bi-grid-fill"></i>
          <span>Dashboard</span>
      </a>
  </li>
  <li class="menu-item  ">
      <a href="/app/mahasiswa" class='menu-link'>
          <i class="bi bi-person-badge-fill"></i>
          <span>Mahasiswa</span>
      </a>
  </li>
  <li class="menu-item ">
      <a href="/app/rank" class='menu-link'>
          <i class="bi bi-calculator-fill"></i>
          <span>Perangkingan</span>
      </a>
  </li>
</ul>