<ul class="menu">
  <li class="sidebar-title">Menu</li>
  <li
    class="sidebar-item active ">
    <a href="/app" class='sidebar-link'>
      <i class="bi bi-grid-fill"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="/app/mahasiswa" class='sidebar-link'>
      <i class="bi bi-person-badge-fill"></i>
      <span>Mahasiswa</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="/app/nilai" class='sidebar-link'>
      <i class="bi bi-table"></i>
      <span>Penilaian</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="/app/pm" class='sidebar-link'>
      <i class="bi bi-calculator-fill"></i>
      <span>Perhitungan</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a href="/app/kriteria" class='sidebar-link'>
      <i class="bi bi-badge-cc-fill"></i>
      <span>Kriteria</span>
    </a>
  </li>
</ul>